<launch>
  <arg name="world_name" default="basic"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="mav_name" default="ardrone" />
  <arg name="camera_height" default="1.0" />

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world"/-->
    <arg name="world_name" default="$(find rotors_gazebo)/worlds/cf_exp.world"/>
    <!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="false"/>
    <!-- <arg name="gui" value="false"/> -->
  </include>

  <group ns="$(arg mav_name)0">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)0" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg mav_name)0"/>
      <arg name="y" value="-0.7"/>
      <arg name="x" value="0.1"/>
    </include>
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg mav_name).yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>
    <!--node name="waypoint_publisher" pkg="rotors_gazebo" type="waypoint_publisher" output="screen" args="0 -1 1 0 2"/-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>

  <group ns="$(arg mav_name)1">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)1" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg mav_name)1"/>
      <arg name="y" value="0.0"/>
      <arg name="x" value="0.1"/>
    </include>
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg mav_name).yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>

  <group ns="$(arg mav_name)2">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)2" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg mav_name)2"/>
      <arg name="y" value="0.7"/>
      <arg name="x" value="0.1"/>
    </include>
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg mav_name).yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>
    <!--node name="waypoint_publisher" pkg="rotors_gazebo" type="waypoint_publisher" output="screen" args="1 0 1 0 6"/-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>


  <!--group ns="camera">
    <arg name="enable_cameras" default="true"/>
    <arg name="enable_depth" default="true"/>
    <include file="$(find rotors_gazebo)/launch/spawn_vi_sensor.launch">
      <arg name="enable_cameras" value="$(arg enable_cameras)" />
      <arg name="enable_depth" value="$(arg enable_depth)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="z" value="$(arg camera_height)" />
    </include>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
    <node pkg="tf" type="static_transform_publisher" name="world2cam" args="0 0 0 0 0 0 world base_link 5" />  
  </group-->


  <group ns="husky">    
    <include file="$(find rotors_gazebo)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="husky" />
      <arg name="sdf_robot_file" value="$(find rotors_gazebo)/models/husky/model.sdf"/>
      <arg name="x" value="-0.7" />
      <arg name="y" value="0.0" />
      <arg name="z" value="-0.35" />
    </include>
  </group>


  <arg name="tree_offset_x" default="2.3" />
  <arg name="tree_offset_y" default="-0.75" />

  <group ns="tree_stavros_1">    
    <include file="$(find rotors_gazebo)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="tree_stavros_1" />
      <arg name="sdf_robot_file" value="$(find rotors_gazebo)/models/tree_pear_1/model.sdf"/>
      <arg name="x" value="$(arg tree_offset_x)" />
      <arg name="y" value="$(arg tree_offset_y)" />
      <arg name="z" value="0" />
    </include>
  </group>

  <group ns="tree_stavros_2">    
    <include file="$(find rotors_gazebo)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="tree_stavros_2" />
      <arg name="sdf_robot_file" value="$(find rotors_gazebo)/models/tree_pear_2/model.sdf"/>
      <arg name="x" value="$(arg tree_offset_x)" />
      <arg name="y" value="$(arg tree_offset_y)" />
      <arg name="z" value="0" />
    </include>
  </group>






</launch>